#stars {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 384px 1586px #353535, 90px 854px #353535, 231px 297px #353535,
    1199px 495px #353535, 1908px 1873px #353535, 1732px 1732px #353535,
    893px 949px #353535, 1912px 1360px #353535, 1230px 771px #353535,
    1761px 286px #353535, 280px 160px #353535, 1626px 1047px #353535,
    25px 1208px #353535, 30px 1841px #353535, 252px 85px #353535,
    1446px 1228px #353535, 1966px 1310px #353535, 436px 412px #353535,
    1030px 656px #353535, 1552px 660px #353535, 127px 1888px #353535,
    1031px 694px #353535, 826px 584px #353535, 1931px 585px #353535,
    1835px 487px #353535, 239px 878px #353535, 521px 438px #353535,
    694px 1067px #353535, 1842px 720px #353535, 1419px 1355px #353535,
    1506px 107px #353535, 1451px 690px #353535, 1071px 1442px #353535,
    848px 677px #353535, 979px 1344px #353535, 1440px 1598px #353535,
    1794px 813px #353535, 172px 1059px #353535, 1977px 897px #353535,
    361px 1810px #353535, 1449px 954px #353535, 1593px 485px #353535,
    1532px 471px #353535, 1244px 1649px #353535, 609px 821px #353535,
    1077px 479px #353535, 1038px 1584px #353535, 1399px 1352px #353535,
    910px 1014px #353535, 959px 642px #353535, 1815px 1221px #353535,
    814px 155px #353535, 921px 259px #353535, 822px 163px #353535,
    748px 155px #353535, 921px 1040px #353535, 712px 150px #353535,
    1742px 1776px #353535, 557px 837px #353535, 647px 276px #353535,
    1708px 1926px #353535, 1992px 797px #353535, 665px 463px #353535,
    463px 1509px #353535, 50px 1377px #353535, 76px 132px #353535,
    1265px 1391px #353535, 677px 1856px #353535, 1825px 1232px #353535,
    409px 1557px #353535, 594px 654px #353535, 1141px 1136px #353535,
    207px 468px #353535, 980px 1434px #353535, 1440px 1510px #353535,
    1508px 631px #353535, 970px 122px #353535, 1755px 99px #353535,
    1892px 1782px #353535, 439px 577px #353535, 1011px 1172px #353535,
    51px 1193px #353535, 134px 990px #353535, 1297px 724px #353535,
    569px 974px #353535, 320px 346px #353535, 407px 1624px #353535,
    1066px 876px #353535, 555px 786px #353535, 8px 375px #353535,
    987px 192px #353535, 100px 1012px #353535, 1146px 1139px #353535,
    735px 1634px #353535, 1749px 1586px #353535, 1300px 1193px #353535,
    1907px 1128px #353535, 872px 1280px #353535, 1563px 1153px #353535,
    177px 641px #353535, 414px 333px #353535, 1894px 835px #353535,
    331px 514px #353535, 850px 1625px #353535, 950px 155px #353535,
    1451px 1907px #353535, 955px 413px #353535, 86px 1247px #353535,
    1292px 659px #353535, 171px 1700px #353535, 769px 1472px #353535,
    385px 1887px #353535, 882px 718px #353535, 1239px 214px #353535,
    1376px 1022px #353535, 13px 1668px #353535, 502px 981px #353535,
    1080px 1897px #353535, 710px 1213px #353535, 1221px 50px #353535,
    1193px 1496px #353535, 669px 1471px #353535, 722px 168px #353535,
    780px 747px #353535, 12px 1447px #353535, 427px 122px #353535,
    1168px 531px #353535, 1898px 327px #353535, 1544px 190px #353535,
    288px 137px #353535, 1580px 762px #353535, 1251px 1623px #353535,
    1238px 1120px #353535, 1887px 511px #353535, 1274px 573px #353535,
    344px 1924px #353535, 959px 260px #353535, 1506px 123px #353535,
    1533px 1048px #353535, 1533px 1919px #353535, 1304px 317px #353535,
    1040px 1840px #353535, 457px 1056px #353535, 414px 1182px #353535,
    1388px 4px #353535, 726px 1318px #353535, 40px 133px #353535,
    470px 1727px #353535, 732px 150px #353535, 1574px 1957px #353535,
    1730px 1502px #353535, 1892px 777px #353535, 1149px 864px #353535,
    1185px 975px #353535, 1995px 261px #353535, 124px 213px #353535,
    1247px 1567px #353535, 594px 1396px #353535, 764px 1913px #353535,
    1556px 824px #353535, 243px 960px #353535, 221px 66px #353535,
    62px 1722px #353535, 805px 1533px #353535, 603px 352px #353535,
    1003px 1998px #353535, 1678px 1294px #353535, 1026px 189px #353535,
    1842px 1108px #353535, 1535px 1992px #353535, 733px 233px #353535,
    1616px 1607px #353535, 1810px 743px #353535, 30px 1812px #353535,
    778px 118px #353535, 1615px 1634px #353535, 1134px 1139px #353535,
    1757px 1097px #353535, 682px 1827px #353535, 340px 963px #353535,
    842px 448px #353535, 1955px 1131px #353535, 1483px 528px #353535,
    29px 1066px #353535, 715px 1828px #353535, 1870px 103px #353535,
    1422px 1032px #353535, 1509px 1351px #353535, 327px 1850px #353535,
    228px 1665px #353535, 1225px 891px #353535, 913px 1864px #353535,
    1884px 651px #353535, 1407px 825px #353535, 903px 183px #353535,
    1262px 253px #353535, 1142px 230px #353535, 420px 1990px #353535,
    1456px 1140px #353535, 1888px 1343px #353535, 846px 447px #353535,
    1600px 787px #353535, 705px 383px #353535, 1236px 218px #353535,
    595px 1821px #353535, 1662px 41px #353535, 1040px 646px #353535,
    1376px 523px #353535, 117px 296px #353535, 1395px 1094px #353535,
    1512px 1642px #353535, 1795px 1967px #353535, 1362px 584px #353535,
    351px 1426px #353535, 1804px 42px #353535, 772px 244px #353535,
    1612px 943px #353535, 197px 374px #353535, 149px 356px #353535,
    250px 334px #353535, 1832px 823px #353535, 1792px 1023px #353535,
    367px 732px #353535, 1850px 1749px #353535, 575px 1485px #353535,
    435px 659px #353535, 284px 1626px #353535, 897px 22px #353535,
    961px 273px #353535, 644px 1178px #353535, 396px 1060px #353535,
    1005px 1px #353535, 190px 1956px #353535, 1866px 993px #353535,
    344px 1756px #353535, 584px 578px #353535, 1031px 1061px #353535,
    838px 59px #353535, 1094px 159px #353535, 611px 1977px #353535,
    301px 1501px #353535, 514px 167px #353535, 501px 1229px #353535,
    940px 1033px #353535, 1453px 482px #353535, 1231px 1131px #353535,
    261px 1187px #353535, 155px 696px #353535, 601px 1171px #353535,
    79px 1382px #353535, 858px 454px #353535, 964px 477px #353535,
    1039px 103px #353535, 1816px 49px #353535, 1878px 660px #353535,
    1703px 271px #353535, 1568px 171px #353535, 59px 1511px #353535,
    1109px 1539px #353535, 1839px 803px #353535, 945px 898px #353535,
    1011px 1275px #353535, 1267px 1462px #353535, 803px 1130px #353535,
    1419px 1425px #353535, 1974px 1355px #353535, 1779px 996px #353535,
    1969px 771px #353535, 813px 1688px #353535, 165px 112px #353535,
    1560px 1792px #353535, 1887px 1796px #353535, 479px 75px #353535,
    522px 1115px #353535, 675px 1576px #353535, 1735px 1232px #353535,
    594px 470px #353535, 1843px 727px #353535, 45px 864px #353535,
    1519px 1565px #353535, 825px 1825px #353535, 1512px 1104px #353535,
    1623px 1955px #353535, 36px 1074px #353535, 1535px 587px #353535,
    1495px 575px #353535, 947px 673px #353535, 1692px 395px #353535,
    37px 1756px #353535, 1148px 1198px #353535, 423px 164px #353535,
    1804px 997px #353535, 1804px 1830px #353535, 1407px 770px #353535,
    478px 1473px #353535, 1609px 1838px #353535, 1476px 557px #353535,
    702px 212px #353535, 812px 706px #353535, 97px 1798px #353535,
    1801px 670px #353535, 551px 1282px #353535, 377px 782px #353535,
    944px 738px #353535, 136px 838px #353535, 1315px 1705px #353535,
    1366px 1629px #353535, 123px 964px #353535, 1941px 458px #353535,
    1086px 1441px #353535, 563px 711px #353535, 1532px 876px #353535,
    112px 1333px #353535, 1932px 1392px #353535, 927px 1294px #353535,
    874px 440px #353535, 557px 332px #353535, 1065px 969px #353535,
    1289px 1058px #353535, 932px 651px #353535, 1696px 1527px #353535,
    1576px 117px #353535, 1586px 1560px #353535, 1513px 653px #353535,
    574px 441px #353535, 1753px 1923px #353535, 619px 1636px #353535,
    1062px 176px #353535, 1727px 408px #353535, 1984px 1988px #353535,
    412px 432px #353535, 1628px 1313px #353535, 1346px 1022px #353535,
    1864px 705px #353535, 1952px 680px #353535, 1074px 938px #353535,
    201px 1039px #353535, 1596px 1699px #353535, 327px 819px #353535,
    637px 333px #353535, 1811px 131px #353535, 1525px 1958px #353535,
    32px 166px #353535, 697px 649px #353535, 1693px 716px #353535,
    936px 651px #353535, 256px 690px #353535, 282px 703px #353535,
    1662px 683px #353535, 1457px 198px #353535, 369px 547px #353535,
    989px 164px #353535, 643px 498px #353535, 1442px 1554px #353535,
    624px 72px #353535, 1672px 417px #353535, 1370px 1110px #353535,
    1857px 1433px #353535, 371px 1593px #353535, 1502px 1384px #353535,
    1923px 1679px #353535, 113px 1048px #353535, 1479px 31px #353535,
    1089px 197px #353535, 1622px 952px #353535, 1367px 260px #353535,
    95px 1548px #353535, 1921px 547px #353535, 494px 847px #353535,
    926px 1460px #353535, 1036px 1009px #353535, 516px 1506px #353535,
    126px 902px #353535, 1541px 401px #353535, 973px 509px #353535,
    1702px 669px #353535, 757px 1826px #353535, 799px 624px #353535,
    685px 1273px #353535, 1909px 45px #353535, 860px 978px #353535,
    1524px 1175px #353535, 297px 971px #353535, 1924px 67px #353535,
    611px 780px #353535, 1989px 604px #353535, 964px 1612px #353535,
    61px 1709px #353535, 764px 1605px #353535, 1716px 1462px #353535,
    1499px 110px #353535, 1562px 862px #353535, 380px 836px #353535,
    1026px 1224px #353535, 1326px 1653px #353535, 640px 1328px #353535,
    1876px 874px #353535, 1170px 10px #353535, 1782px 410px #353535,
    1294px 238px #353535, 155px 1447px #353535, 874px 985px #353535,
    1694px 1542px #353535, 1605px 840px #353535, 401px 1624px #353535,
    360px 1621px #353535, 300px 23px #353535, 1482px 781px #353535,
    957px 823px #353535, 448px 471px #353535, 382px 1231px #353535,
    862px 520px #353535, 1882px 1791px #353535, 1743px 816px #353535,
    1201px 130px #353535, 32px 1387px #353535, 682px 758px #353535,
    1938px 107px #353535, 1043px 598px #353535, 205px 617px #353535,
    1473px 1630px #353535, 260px 1292px #353535, 1736px 1566px #353535,
    652px 1701px #353535, 795px 1167px #353535, 1804px 101px #353535,
    590px 1369px #353535, 1196px 23px #353535, 188px 1673px #353535,
    1210px 659px #353535, 1803px 787px #353535, 28px 1536px #353535,
    188px 1496px #353535, 1416px 399px #353535, 529px 1683px #353535,
    1606px 1484px #353535, 604px 1026px #353535, 48px 461px #353535,
    14px 1524px #353535, 449px 1315px #353535, 1689px 1536px #353535,
    1306px 1142px #353535, 37px 1885px #353535, 1640px 1687px #353535,
    1015px 1441px #353535, 1344px 1242px #353535, 1729px 801px #353535,
    525px 772px #353535, 1960px 778px #353535, 1323px 1076px #353535,
    58px 1556px #353535, 1028px 1454px #353535, 1874px 325px #353535,
    1694px 1125px #353535, 852px 264px #353535, 1608px 1127px #353535,
    148px 973px #353535, 342px 1326px #353535, 1440px 304px #353535,
    264px 1304px #353535, 1589px 736px #353535, 1190px 1577px #353535,
    965px 784px #353535, 157px 26px #353535, 422px 560px #353535,
    1152px 802px #353535, 1208px 300px #353535, 1820px 358px #353535,
    273px 1620px #353535, 1285px 529px #353535, 1469px 1613px #353535,
    638px 986px #353535, 787px 694px #353535, 1807px 1416px #353535,
    1643px 260px #353535, 51px 1393px #353535, 389px 1250px #353535,
    1628px 1253px #353535, 1058px 183px #353535, 621px 227px #353535,
    1930px 103px #353535, 1319px 1689px #353535, 1632px 1071px #353535,
    1368px 460px #353535, 76px 1562px #353535, 590px 1032px #353535,
    954px 269px #353535, 250px 1201px #353535, 1419px 951px #353535,
    174px 691px #353535, 304px 1883px #353535, 1460px 110px #353535,
    1881px 1501px #353535, 1692px 470px #353535, 1011px 881px #353535,
    1018px 1770px #353535, 1056px 1751px #353535, 85px 1529px #353535,
    152px 396px #353535, 1123px 1928px #353535, 874px 63px #353535,
    141px 840px #353535, 91px 980px #353535, 1920px 481px #353535,
    1358px 1341px #353535, 307px 560px #353535, 277px 103px #353535,
    976px 678px #353535, 1407px 620px #353535, 1784px 48px #353535,
    306px 15px #353535, 1054px 324px #353535, 978px 1488px #353535,
    789px 679px #353535, 271px 1058px #353535, 630px 1884px #353535,
    1979px 1863px #353535, 790px 256px #353535, 1639px 598px #353535,
    1969px 1772px #353535, 1928px 1369px #353535, 977px 989px #353535,
    1898px 1388px #353535, 1644px 905px #353535, 794px 1553px #353535,
    1898px 1755px #353535, 1627px 1749px #353535, 1804px 191px #353535,
    376px 325px #353535, 554px 1252px #353535, 687px 389px #353535,
    1117px 342px #353535, 1892px 1940px #353535, 361px 1699px #353535,
    1586px 977px #353535, 1364px 1822px #353535, 102px 1916px #353535,
    1579px 978px #353535, 78px 1377px #353535, 554px 744px #353535,
    749px 1844px #353535, 57px 7px #353535, 59px 801px #353535,
    270px 1526px #353535, 23px 202px #353535, 309px 1532px #353535,
    631px 876px #353535, 832px 1477px #353535, 837px 78px #353535,
    320px 20px #353535, 1679px 1563px #353535, 1769px 988px #353535,
    1657px 1493px #353535, 1337px 1916px #353535, 1527px 1513px #353535,
    1573px 1533px #353535, 1376px 1509px #353535, 200px 1243px #353535,
    917px 1083px #353535, 934px 887px #353535, 560px 1781px #353535,
    500px 1681px #353535, 1736px 1451px #353535, 1893px 359px #353535,
    1122px 648px #353535, 158px 1201px #353535, 731px 1222px #353535,
    750px 874px #353535, 1071px 879px #353535, 845px 550px #353535,
    1667px 99px #353535, 960px 1308px #353535, 1573px 551px #353535,
    1301px 1523px #353535, 1518px 1720px #353535, 1453px 1339px #353535,
    512px 1245px #353535, 1431px 1505px #353535, 1142px 1098px #353535,
    926px 442px #353535, 965px 1425px #353535, 1954px 122px #353535,
    181px 1989px #353535, 48px 1414px #353535, 1210px 1462px #353535,
    599px 922px #353535, 1182px 1435px #353535, 1703px 352px #353535,
    1068px 1185px #353535, 1974px 509px #353535, 1737px 1357px #353535,
    1050px 353px #353535, 624px 86px #353535, 1386px 1663px #353535,
    1479px 1589px #353535, 1075px 786px #353535, 1292px 1047px #353535,
    799px 65px #353535, 299px 1477px #353535, 1939px 1181px #353535,
    1609px 1008px #353535, 34px 524px #353535, 822px 784px #353535,
    1137px 407px #353535, 1048px 1765px #353535, 455px 56px #353535,
    806px 639px #353535, 835px 408px #353535, 1549px 788px #353535,
    1127px 576px #353535, 493px 574px #353535, 1624px 419px #353535,
    250px 256px #353535, 1455px 1893px #353535, 175px 992px #353535,
    48px 928px #353535, 1708px 1477px #353535, 378px 100px #353535,
    662px 1238px #353535, 367px 548px #353535, 1531px 609px #353535,
    210px 931px #353535, 1039px 818px #353535, 1075px 1172px #353535,
    1557px 1062px #353535, 1575px 1722px #353535, 1822px 1959px #353535,
    173px 7px #353535, 162px 154px #353535, 729px 1687px #353535,
    900px 1185px #353535, 289px 1791px #353535, 1082px 1623px #353535,
    1236px 1305px #353535, 151px 1190px #353535, 937px 1251px #353535,
    217px 1929px #353535, 265px 31px #353535, 1609px 503px #353535,
    1965px 565px #353535, 1579px 1113px #353535, 1663px 552px #353535,
    1305px 1309px #353535, 1299px 379px #353535, 616px 1225px #353535,
    91px 503px #353535, 67px 1425px #353535, 1234px 1969px #353535,
    1166px 1063px #353535, 1141px 1843px #353535, 779px 499px #353535,
    1188px 788px #353535, 328px 252px #353535, 1052px 1444px #353535,
    159px 1553px #353535, 870px 1286px #353535, 843px 1590px #353535,
    868px 96px #353535, 574px 836px #353535, 1889px 553px #353535,
    1100px 1178px #353535, 1429px 1745px #353535, 1824px 1786px #353535,
    1117px 606px #353535, 1954px 286px #353535, 997px 1595px #353535,
    1138px 1215px #353535, 1437px 1905px #353535, 1608px 813px #353535,
    931px 1666px #353535, 1324px 966px #353535, 566px 1480px #353535,
    279px 874px #353535, 1050px 614px #353535, 55px 1359px #353535,
    289px 1027px #353535, 1679px 155px #353535, 1823px 1572px #353535,
    229px 944px #353535, 1868px 318px #353535, 740px 152px #353535,
    525px 482px #353535, 431px 350px #353535, 1464px 1875px #353535,
    874px 764px #353535, 1858px 882px #353535, 350px 534px #353535,
    1864px 599px #353535, 639px 1395px #353535, 868px 479px #353535,
    1336px 1935px #353535, 524px 587px #353535, 20px 1032px #353535,
    1103px 1032px #353535, 523px 1545px #353535, 406px 1677px #353535,
    397px 218px #353535, 1296px 904px #353535, 1149px 74px #353535,
    1040px 536px #353535;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 384px 1586px #353535, 90px 854px #353535, 231px 297px #353535,
    1199px 495px #353535, 1908px 1873px #353535, 1732px 1732px #353535,
    893px 949px #353535, 1912px 1360px #353535, 1230px 771px #353535,
    1761px 286px #353535, 280px 160px #353535, 1626px 1047px #353535,
    25px 1208px #353535, 30px 1841px #353535, 252px 85px #353535,
    1446px 1228px #353535, 1966px 1310px #353535, 436px 412px #353535,
    1030px 656px #353535, 1552px 660px #353535, 127px 1888px #353535,
    1031px 694px #353535, 826px 584px #353535, 1931px 585px #353535,
    1835px 487px #353535, 239px 878px #353535, 521px 438px #353535,
    694px 1067px #353535, 1842px 720px #353535, 1419px 1355px #353535,
    1506px 107px #353535, 1451px 690px #353535, 1071px 1442px #353535,
    848px 677px #353535, 979px 1344px #353535, 1440px 1598px #353535,
    1794px 813px #353535, 172px 1059px #353535, 1977px 897px #353535,
    361px 1810px #353535, 1449px 954px #353535, 1593px 485px #353535,
    1532px 471px #353535, 1244px 1649px #353535, 609px 821px #353535,
    1077px 479px #353535, 1038px 1584px #353535, 1399px 1352px #353535,
    910px 1014px #353535, 959px 642px #353535, 1815px 1221px #353535,
    814px 155px #353535, 921px 259px #353535, 822px 163px #353535,
    748px 155px #353535, 921px 1040px #353535, 712px 150px #353535,
    1742px 1776px #353535, 557px 837px #353535, 647px 276px #353535,
    1708px 1926px #353535, 1992px 797px #353535, 665px 463px #353535,
    463px 1509px #353535, 50px 1377px #353535, 76px 132px #353535,
    1265px 1391px #353535, 677px 1856px #353535, 1825px 1232px #353535,
    409px 1557px #353535, 594px 654px #353535, 1141px 1136px #353535,
    207px 468px #353535, 980px 1434px #353535, 1440px 1510px #353535,
    1508px 631px #353535, 970px 122px #353535, 1755px 99px #353535,
    1892px 1782px #353535, 439px 577px #353535, 1011px 1172px #353535,
    51px 1193px #353535, 134px 990px #353535, 1297px 724px #353535,
    569px 974px #353535, 320px 346px #353535, 407px 1624px #353535,
    1066px 876px #353535, 555px 786px #353535, 8px 375px #353535,
    987px 192px #353535, 100px 1012px #353535, 1146px 1139px #353535,
    735px 1634px #353535, 1749px 1586px #353535, 1300px 1193px #353535,
    1907px 1128px #353535, 872px 1280px #353535, 1563px 1153px #353535,
    177px 641px #353535, 414px 333px #353535, 1894px 835px #353535,
    331px 514px #353535, 850px 1625px #353535, 950px 155px #353535,
    1451px 1907px #353535, 955px 413px #353535, 86px 1247px #353535,
    1292px 659px #353535, 171px 1700px #353535, 769px 1472px #353535,
    385px 1887px #353535, 882px 718px #353535, 1239px 214px #353535,
    1376px 1022px #353535, 13px 1668px #353535, 502px 981px #353535,
    1080px 1897px #353535, 710px 1213px #353535, 1221px 50px #353535,
    1193px 1496px #353535, 669px 1471px #353535, 722px 168px #353535,
    780px 747px #353535, 12px 1447px #353535, 427px 122px #353535,
    1168px 531px #353535, 1898px 327px #353535, 1544px 190px #353535,
    288px 137px #353535, 1580px 762px #353535, 1251px 1623px #353535,
    1238px 1120px #353535, 1887px 511px #353535, 1274px 573px #353535,
    344px 1924px #353535, 959px 260px #353535, 1506px 123px #353535,
    1533px 1048px #353535, 1533px 1919px #353535, 1304px 317px #353535,
    1040px 1840px #353535, 457px 1056px #353535, 414px 1182px #353535,
    1388px 4px #353535, 726px 1318px #353535, 40px 133px #353535,
    470px 1727px #353535, 732px 150px #353535, 1574px 1957px #353535,
    1730px 1502px #353535, 1892px 777px #353535, 1149px 864px #353535,
    1185px 975px #353535, 1995px 261px #353535, 124px 213px #353535,
    1247px 1567px #353535, 594px 1396px #353535, 764px 1913px #353535,
    1556px 824px #353535, 243px 960px #353535, 221px 66px #353535,
    62px 1722px #353535, 805px 1533px #353535, 603px 352px #353535,
    1003px 1998px #353535, 1678px 1294px #353535, 1026px 189px #353535,
    1842px 1108px #353535, 1535px 1992px #353535, 733px 233px #353535,
    1616px 1607px #353535, 1810px 743px #353535, 30px 1812px #353535,
    778px 118px #353535, 1615px 1634px #353535, 1134px 1139px #353535,
    1757px 1097px #353535, 682px 1827px #353535, 340px 963px #353535,
    842px 448px #353535, 1955px 1131px #353535, 1483px 528px #353535,
    29px 1066px #353535, 715px 1828px #353535, 1870px 103px #353535,
    1422px 1032px #353535, 1509px 1351px #353535, 327px 1850px #353535,
    228px 1665px #353535, 1225px 891px #353535, 913px 1864px #353535,
    1884px 651px #353535, 1407px 825px #353535, 903px 183px #353535,
    1262px 253px #353535, 1142px 230px #353535, 420px 1990px #353535,
    1456px 1140px #353535, 1888px 1343px #353535, 846px 447px #353535,
    1600px 787px #353535, 705px 383px #353535, 1236px 218px #353535,
    595px 1821px #353535, 1662px 41px #353535, 1040px 646px #353535,
    1376px 523px #353535, 117px 296px #353535, 1395px 1094px #353535,
    1512px 1642px #353535, 1795px 1967px #353535, 1362px 584px #353535,
    351px 1426px #353535, 1804px 42px #353535, 772px 244px #353535,
    1612px 943px #353535, 197px 374px #353535, 149px 356px #353535,
    250px 334px #353535, 1832px 823px #353535, 1792px 1023px #353535,
    367px 732px #353535, 1850px 1749px #353535, 575px 1485px #353535,
    435px 659px #353535, 284px 1626px #353535, 897px 22px #353535,
    961px 273px #353535, 644px 1178px #353535, 396px 1060px #353535,
    1005px 1px #353535, 190px 1956px #353535, 1866px 993px #353535,
    344px 1756px #353535, 584px 578px #353535, 1031px 1061px #353535,
    838px 59px #353535, 1094px 159px #353535, 611px 1977px #353535,
    301px 1501px #353535, 514px 167px #353535, 501px 1229px #353535,
    940px 1033px #353535, 1453px 482px #353535, 1231px 1131px #353535,
    261px 1187px #353535, 155px 696px #353535, 601px 1171px #353535,
    79px 1382px #353535, 858px 454px #353535, 964px 477px #353535,
    1039px 103px #353535, 1816px 49px #353535, 1878px 660px #353535,
    1703px 271px #353535, 1568px 171px #353535, 59px 1511px #353535,
    1109px 1539px #353535, 1839px 803px #353535, 945px 898px #353535,
    1011px 1275px #353535, 1267px 1462px #353535, 803px 1130px #353535,
    1419px 1425px #353535, 1974px 1355px #353535, 1779px 996px #353535,
    1969px 771px #353535, 813px 1688px #353535, 165px 112px #353535,
    1560px 1792px #353535, 1887px 1796px #353535, 479px 75px #353535,
    522px 1115px #353535, 675px 1576px #353535, 1735px 1232px #353535,
    594px 470px #353535, 1843px 727px #353535, 45px 864px #353535,
    1519px 1565px #353535, 825px 1825px #353535, 1512px 1104px #353535,
    1623px 1955px #353535, 36px 1074px #353535, 1535px 587px #353535,
    1495px 575px #353535, 947px 673px #353535, 1692px 395px #353535,
    37px 1756px #353535, 1148px 1198px #353535, 423px 164px #353535,
    1804px 997px #353535, 1804px 1830px #353535, 1407px 770px #353535,
    478px 1473px #353535, 1609px 1838px #353535, 1476px 557px #353535,
    702px 212px #353535, 812px 706px #353535, 97px 1798px #353535,
    1801px 670px #353535, 551px 1282px #353535, 377px 782px #353535,
    944px 738px #353535, 136px 838px #353535, 1315px 1705px #353535,
    1366px 1629px #353535, 123px 964px #353535, 1941px 458px #353535,
    1086px 1441px #353535, 563px 711px #353535, 1532px 876px #353535,
    112px 1333px #353535, 1932px 1392px #353535, 927px 1294px #353535,
    874px 440px #353535, 557px 332px #353535, 1065px 969px #353535,
    1289px 1058px #353535, 932px 651px #353535, 1696px 1527px #353535,
    1576px 117px #353535, 1586px 1560px #353535, 1513px 653px #353535,
    574px 441px #353535, 1753px 1923px #353535, 619px 1636px #353535,
    1062px 176px #353535, 1727px 408px #353535, 1984px 1988px #353535,
    412px 432px #353535, 1628px 1313px #353535, 1346px 1022px #353535,
    1864px 705px #353535, 1952px 680px #353535, 1074px 938px #353535,
    201px 1039px #353535, 1596px 1699px #353535, 327px 819px #353535,
    637px 333px #353535, 1811px 131px #353535, 1525px 1958px #353535,
    32px 166px #353535, 697px 649px #353535, 1693px 716px #353535,
    936px 651px #353535, 256px 690px #353535, 282px 703px #353535,
    1662px 683px #353535, 1457px 198px #353535, 369px 547px #353535,
    989px 164px #353535, 643px 498px #353535, 1442px 1554px #353535,
    624px 72px #353535, 1672px 417px #353535, 1370px 1110px #353535,
    1857px 1433px #353535, 371px 1593px #353535, 1502px 1384px #353535,
    1923px 1679px #353535, 113px 1048px #353535, 1479px 31px #353535,
    1089px 197px #353535, 1622px 952px #353535, 1367px 260px #353535,
    95px 1548px #353535, 1921px 547px #353535, 494px 847px #353535,
    926px 1460px #353535, 1036px 1009px #353535, 516px 1506px #353535,
    126px 902px #353535, 1541px 401px #353535, 973px 509px #353535,
    1702px 669px #353535, 757px 1826px #353535, 799px 624px #353535,
    685px 1273px #353535, 1909px 45px #353535, 860px 978px #353535,
    1524px 1175px #353535, 297px 971px #353535, 1924px 67px #353535,
    611px 780px #353535, 1989px 604px #353535, 964px 1612px #353535,
    61px 1709px #353535, 764px 1605px #353535, 1716px 1462px #353535,
    1499px 110px #353535, 1562px 862px #353535, 380px 836px #353535,
    1026px 1224px #353535, 1326px 1653px #353535, 640px 1328px #353535,
    1876px 874px #353535, 1170px 10px #353535, 1782px 410px #353535,
    1294px 238px #353535, 155px 1447px #353535, 874px 985px #353535,
    1694px 1542px #353535, 1605px 840px #353535, 401px 1624px #353535,
    360px 1621px #353535, 300px 23px #353535, 1482px 781px #353535,
    957px 823px #353535, 448px 471px #353535, 382px 1231px #353535,
    862px 520px #353535, 1882px 1791px #353535, 1743px 816px #353535,
    1201px 130px #353535, 32px 1387px #353535, 682px 758px #353535,
    1938px 107px #353535, 1043px 598px #353535, 205px 617px #353535,
    1473px 1630px #353535, 260px 1292px #353535, 1736px 1566px #353535,
    652px 1701px #353535, 795px 1167px #353535, 1804px 101px #353535,
    590px 1369px #353535, 1196px 23px #353535, 188px 1673px #353535,
    1210px 659px #353535, 1803px 787px #353535, 28px 1536px #353535,
    188px 1496px #353535, 1416px 399px #353535, 529px 1683px #353535,
    1606px 1484px #353535, 604px 1026px #353535, 48px 461px #353535,
    14px 1524px #353535, 449px 1315px #353535, 1689px 1536px #353535,
    1306px 1142px #353535, 37px 1885px #353535, 1640px 1687px #353535,
    1015px 1441px #353535, 1344px 1242px #353535, 1729px 801px #353535,
    525px 772px #353535, 1960px 778px #353535, 1323px 1076px #353535,
    58px 1556px #353535, 1028px 1454px #353535, 1874px 325px #353535,
    1694px 1125px #353535, 852px 264px #353535, 1608px 1127px #353535,
    148px 973px #353535, 342px 1326px #353535, 1440px 304px #353535,
    264px 1304px #353535, 1589px 736px #353535, 1190px 1577px #353535,
    965px 784px #353535, 157px 26px #353535, 422px 560px #353535,
    1152px 802px #353535, 1208px 300px #353535, 1820px 358px #353535,
    273px 1620px #353535, 1285px 529px #353535, 1469px 1613px #353535,
    638px 986px #353535, 787px 694px #353535, 1807px 1416px #353535,
    1643px 260px #353535, 51px 1393px #353535, 389px 1250px #353535,
    1628px 1253px #353535, 1058px 183px #353535, 621px 227px #353535,
    1930px 103px #353535, 1319px 1689px #353535, 1632px 1071px #353535,
    1368px 460px #353535, 76px 1562px #353535, 590px 1032px #353535,
    954px 269px #353535, 250px 1201px #353535, 1419px 951px #353535,
    174px 691px #353535, 304px 1883px #353535, 1460px 110px #353535,
    1881px 1501px #353535, 1692px 470px #353535, 1011px 881px #353535,
    1018px 1770px #353535, 1056px 1751px #353535, 85px 1529px #353535,
    152px 396px #353535, 1123px 1928px #353535, 874px 63px #353535,
    141px 840px #353535, 91px 980px #353535, 1920px 481px #353535,
    1358px 1341px #353535, 307px 560px #353535, 277px 103px #353535,
    976px 678px #353535, 1407px 620px #353535, 1784px 48px #353535,
    306px 15px #353535, 1054px 324px #353535, 978px 1488px #353535,
    789px 679px #353535, 271px 1058px #353535, 630px 1884px #353535,
    1979px 1863px #353535, 790px 256px #353535, 1639px 598px #353535,
    1969px 1772px #353535, 1928px 1369px #353535, 977px 989px #353535,
    1898px 1388px #353535, 1644px 905px #353535, 794px 1553px #353535,
    1898px 1755px #353535, 1627px 1749px #353535, 1804px 191px #353535,
    376px 325px #353535, 554px 1252px #353535, 687px 389px #353535,
    1117px 342px #353535, 1892px 1940px #353535, 361px 1699px #353535,
    1586px 977px #353535, 1364px 1822px #353535, 102px 1916px #353535,
    1579px 978px #353535, 78px 1377px #353535, 554px 744px #353535,
    749px 1844px #353535, 57px 7px #353535, 59px 801px #353535,
    270px 1526px #353535, 23px 202px #353535, 309px 1532px #353535,
    631px 876px #353535, 832px 1477px #353535, 837px 78px #353535,
    320px 20px #353535, 1679px 1563px #353535, 1769px 988px #353535,
    1657px 1493px #353535, 1337px 1916px #353535, 1527px 1513px #353535,
    1573px 1533px #353535, 1376px 1509px #353535, 200px 1243px #353535,
    917px 1083px #353535, 934px 887px #353535, 560px 1781px #353535,
    500px 1681px #353535, 1736px 1451px #353535, 1893px 359px #353535,
    1122px 648px #353535, 158px 1201px #353535, 731px 1222px #353535,
    750px 874px #353535, 1071px 879px #353535, 845px 550px #353535,
    1667px 99px #353535, 960px 1308px #353535, 1573px 551px #353535,
    1301px 1523px #353535, 1518px 1720px #353535, 1453px 1339px #353535,
    512px 1245px #353535, 1431px 1505px #353535, 1142px 1098px #353535,
    926px 442px #353535, 965px 1425px #353535, 1954px 122px #353535,
    181px 1989px #353535, 48px 1414px #353535, 1210px 1462px #353535,
    599px 922px #353535, 1182px 1435px #353535, 1703px 352px #353535,
    1068px 1185px #353535, 1974px 509px #353535, 1737px 1357px #353535,
    1050px 353px #353535, 624px 86px #353535, 1386px 1663px #353535,
    1479px 1589px #353535, 1075px 786px #353535, 1292px 1047px #353535,
    799px 65px #353535, 299px 1477px #353535, 1939px 1181px #353535,
    1609px 1008px #353535, 34px 524px #353535, 822px 784px #353535,
    1137px 407px #353535, 1048px 1765px #353535, 455px 56px #353535,
    806px 639px #353535, 835px 408px #353535, 1549px 788px #353535,
    1127px 576px #353535, 493px 574px #353535, 1624px 419px #353535,
    250px 256px #353535, 1455px 1893px #353535, 175px 992px #353535,
    48px 928px #353535, 1708px 1477px #353535, 378px 100px #353535,
    662px 1238px #353535, 367px 548px #353535, 1531px 609px #353535,
    210px 931px #353535, 1039px 818px #353535, 1075px 1172px #353535,
    1557px 1062px #353535, 1575px 1722px #353535, 1822px 1959px #353535,
    173px 7px #353535, 162px 154px #353535, 729px 1687px #353535,
    900px 1185px #353535, 289px 1791px #353535, 1082px 1623px #353535,
    1236px 1305px #353535, 151px 1190px #353535, 937px 1251px #353535,
    217px 1929px #353535, 265px 31px #353535, 1609px 503px #353535,
    1965px 565px #353535, 1579px 1113px #353535, 1663px 552px #353535,
    1305px 1309px #353535, 1299px 379px #353535, 616px 1225px #353535,
    91px 503px #353535, 67px 1425px #353535, 1234px 1969px #353535,
    1166px 1063px #353535, 1141px 1843px #353535, 779px 499px #353535,
    1188px 788px #353535, 328px 252px #353535, 1052px 1444px #353535,
    159px 1553px #353535, 870px 1286px #353535, 843px 1590px #353535,
    868px 96px #353535, 574px 836px #353535, 1889px 553px #353535,
    1100px 1178px #353535, 1429px 1745px #353535, 1824px 1786px #353535,
    1117px 606px #353535, 1954px 286px #353535, 997px 1595px #353535,
    1138px 1215px #353535, 1437px 1905px #353535, 1608px 813px #353535,
    931px 1666px #353535, 1324px 966px #353535, 566px 1480px #353535,
    279px 874px #353535, 1050px 614px #353535, 55px 1359px #353535,
    289px 1027px #353535, 1679px 155px #353535, 1823px 1572px #353535,
    229px 944px #353535, 1868px 318px #353535, 740px 152px #353535,
    525px 482px #353535, 431px 350px #353535, 1464px 1875px #353535,
    874px 764px #353535, 1858px 882px #353535, 350px 534px #353535,
    1864px 599px #353535, 639px 1395px #353535, 868px 479px #353535,
    1336px 1935px #353535, 524px 587px #353535, 20px 1032px #353535,
    1103px 1032px #353535, 523px 1545px #353535, 406px 1677px #353535,
    397px 218px #353535, 1296px 904px #353535, 1149px 74px #353535,
    1040px 536px #353535;
}

#stars2 {
  width: 5px;
  height: 5px;
  background: transparent;
  box-shadow: 623px 508px #353535, 1714px 753px #353535, 1795px 598px #353535,
    151px 331px #353535, 1575px 1522px #353535, 899px 1614px #353535,
    898px 1090px #353535, 117px 52px #353535, 213px 999px #353535,
    1135px 911px #353535, 1623px 960px #353535, 281px 924px #353535,
    700px 1325px #353535, 1749px 1247px #353535, 1605px 507px #353535,
    1908px 98px #353535, 968px 793px #353535, 533px 528px #353535,
    671px 1271px #353535, 47px 1775px #353535, 1970px 1609px #353535,
    1810px 1776px #353535, 151px 648px #353535, 388px 235px #353535,
    513px 536px #353535, 393px 897px #353535, 781px 1282px #353535,
    1838px 1208px #353535, 384px 1359px #353535, 1015px 1876px #353535,
    546px 1205px #353535, 1500px 763px #353535, 1959px 1121px #353535,
    1237px 1765px #353535, 1845px 314px #353535, 898px 908px #353535,
    173px 1331px #353535, 921px 664px #353535, 1606px 1031px #353535,
    725px 1625px #353535, 1141px 1571px #353535, 1326px 870px #353535,
    1810px 1870px #353535, 698px 730px #353535, 1964px 779px #353535,
    1693px 493px #353535, 1259px 192px #353535, 564px 466px #353535,
    1237px 1341px #353535, 1968px 1429px #353535, 582px 144px #353535,
    1457px 1382px #353535, 415px 1771px #353535, 1779px 1292px #353535,
    831px 856px #353535, 488px 1352px #353535, 1040px 665px #353535,
    487px 557px #353535, 1482px 811px #353535, 1986px 1659px #353535,
    1149px 869px #353535, 806px 1805px #353535, 545px 809px #353535,
    1173px 1087px #353535, 620px 1150px #353535, 1186px 1052px #353535,
    1589px 865px #353535, 633px 1527px #353535, 638px 599px #353535,
    883px 600px #353535, 1490px 1845px #353535, 1770px 1203px #353535,
    526px 1560px #353535, 1571px 68px #353535, 10px 1575px #353535,
    1098px 60px #353535, 1852px 1937px #353535, 1105px 1153px #353535,
    1776px 359px #353535, 940px 1688px #353535, 1675px 1851px #353535,
    1644px 315px #353535, 952px 1757px #353535, 209px 962px #353535,
    390px 114px #353535, 1368px 1673px #353535, 1101px 1955px #353535,
    763px 1651px #353535, 1579px 124px #353535, 1185px 1713px #353535,
    1033px 659px #353535, 24px 1444px #353535, 1975px 954px #353535,
    221px 1509px #353535, 1016px 1792px #353535, 770px 534px #353535,
    1078px 1345px #353535, 431px 1345px #353535, 1497px 190px #353535,
    646px 484px #353535, 948px 557px #353535, 1466px 100px #353535,
    1245px 1131px #353535, 378px 16px #353535, 231px 1055px #353535,
    816px 171px #353535, 319px 267px #353535, 169px 1843px #353535,
    266px 1599px #353535, 395px 475px #353535, 1989px 1655px #353535,
    1091px 676px #353535, 1775px 809px #353535, 902px 772px #353535,
    1501px 1304px #353535, 998px 493px #353535, 1618px 1311px #353535,
    1320px 210px #353535, 1740px 292px #353535, 442px 1121px #353535,
    270px 630px #353535, 14px 1045px #353535, 1663px 367px #353535,
    411px 769px #353535, 1427px 232px #353535, 1061px 807px #353535,
    480px 1000px #353535, 1355px 641px #353535, 162px 762px #353535,
    1137px 1483px #353535, 1484px 261px #353535, 243px 194px #353535,
    1845px 1454px #353535, 1599px 725px #353535, 1925px 1033px #353535,
    1768px 1585px #353535, 416px 1558px #353535, 1426px 10px #353535,
    1811px 1960px #353535, 1792px 1842px #353535, 700px 806px #353535,
    1067px 517px #353535, 1708px 1559px #353535, 1247px 1602px #353535,
    1204px 128px #353535, 1254px 352px #353535, 146px 20px #353535,
    896px 655px #353535, 199px 631px #353535, 49px 431px #353535,
    1827px 1935px #353535, 1179px 844px #353535, 142px 1065px #353535,
    130px 1592px #353535, 102px 554px #353535, 804px 1472px #353535,
    531px 1358px #353535, 1111px 1462px #353535, 702px 1321px #353535,
    1200px 456px #353535, 1588px 720px #353535, 1505px 614px #353535,
    834px 694px #353535, 998px 614px #353535, 1017px 1292px #353535,
    1111px 643px #353535, 1534px 340px #353535, 317px 1503px #353535,
    1678px 234px #353535, 1427px 1px #353535, 1072px 191px #353535,
    106px 1035px #353535, 1162px 240px #353535, 1968px 1313px #353535,
    927px 130px #353535, 1217px 146px #353535, 40px 1034px #353535,
    1684px 1623px #353535, 452px 685px #353535, 1463px 1031px #353535,
    1965px 1208px #353535, 1056px 1656px #353535, 1076px 522px #353535,
    363px 1240px #353535, 877px 869px #353535, 748px 1211px #353535,
    1px 1238px #353535, 391px 276px #353535, 1998px 1562px #353535,
    1730px 849px #353535, 481px 1424px #353535, 1776px 867px #353535,
    696px 663px #353535, 1565px 145px #353535, 1991px 679px #353535,
    1855px 68px #353535, 1596px 700px #353535, 1910px 406px #353535,
    731px 1425px #353535, 1905px 202px #353535;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 5px;
  height: 5px;
  background: transparent;
  box-shadow: 623px 508px #353535, 1714px 753px #353535, 1795px 598px #353535,
    151px 331px #353535, 1575px 1522px #353535, 899px 1614px #353535,
    898px 1090px #353535, 117px 52px #353535, 213px 999px #353535,
    1135px 911px #353535, 1623px 960px #353535, 281px 924px #353535,
    700px 1325px #353535, 1749px 1247px #353535, 1605px 507px #353535,
    1908px 98px #353535, 968px 793px #353535, 533px 528px #353535,
    671px 1271px #353535, 47px 1775px #353535, 1970px 1609px #353535,
    1810px 1776px #353535, 151px 648px #353535, 388px 235px #353535,
    513px 536px #353535, 393px 897px #353535, 781px 1282px #353535,
    1838px 1208px #353535, 384px 1359px #353535, 1015px 1876px #353535,
    546px 1205px #353535, 1500px 763px #353535, 1959px 1121px #353535,
    1237px 1765px #353535, 1845px 314px #353535, 898px 908px #353535,
    173px 1331px #353535, 921px 664px #353535, 1606px 1031px #353535,
    725px 1625px #353535, 1141px 1571px #353535, 1326px 870px #353535,
    1810px 1870px #353535, 698px 730px #353535, 1964px 779px #353535,
    1693px 493px #353535, 1259px 192px #353535, 564px 466px #353535,
    1237px 1341px #353535, 1968px 1429px #353535, 582px 144px #353535,
    1457px 1382px #353535, 415px 1771px #353535, 1779px 1292px #353535,
    831px 856px #353535, 488px 1352px #353535, 1040px 665px #353535,
    487px 557px #353535, 1482px 811px #353535, 1986px 1659px #353535,
    1149px 869px #353535, 806px 1805px #353535, 545px 809px #353535,
    1173px 1087px #353535, 620px 1150px #353535, 1186px 1052px #353535,
    1589px 865px #353535, 633px 1527px #353535, 638px 599px #353535,
    883px 600px #353535, 1490px 1845px #353535, 1770px 1203px #353535,
    526px 1560px #353535, 1571px 68px #353535, 10px 1575px #353535,
    1098px 60px #353535, 1852px 1937px #353535, 1105px 1153px #353535,
    1776px 359px #353535, 940px 1688px #353535, 1675px 1851px #353535,
    1644px 315px #353535, 952px 1757px #353535, 209px 962px #353535,
    390px 114px #353535, 1368px 1673px #353535, 1101px 1955px #353535,
    763px 1651px #353535, 1579px 124px #353535, 1185px 1713px #353535,
    1033px 659px #353535, 24px 1444px #353535, 1975px 954px #353535,
    221px 1509px #353535, 1016px 1792px #353535, 770px 534px #353535,
    1078px 1345px #353535, 431px 1345px #353535, 1497px 190px #353535,
    646px 484px #353535, 948px 557px #353535, 1466px 100px #353535,
    1245px 1131px #353535, 378px 16px #353535, 231px 1055px #353535,
    816px 171px #353535, 319px 267px #353535, 169px 1843px #353535,
    266px 1599px #353535, 395px 475px #353535, 1989px 1655px #353535,
    1091px 676px #353535, 1775px 809px #353535, 902px 772px #353535,
    1501px 1304px #353535, 998px 493px #353535, 1618px 1311px #353535,
    1320px 210px #353535, 1740px 292px #353535, 442px 1121px #353535,
    270px 630px #353535, 14px 1045px #353535, 1663px 367px #353535,
    411px 769px #353535, 1427px 232px #353535, 1061px 807px #353535,
    480px 1000px #353535, 1355px 641px #353535, 162px 762px #353535,
    1137px 1483px #353535, 1484px 261px #353535, 243px 194px #353535,
    1845px 1454px #353535, 1599px 725px #353535, 1925px 1033px #353535,
    1768px 1585px #353535, 416px 1558px #353535, 1426px 10px #353535,
    1811px 1960px #353535, 1792px 1842px #353535, 700px 806px #353535,
    1067px 517px #353535, 1708px 1559px #353535, 1247px 1602px #353535,
    1204px 128px #353535, 1254px 352px #353535, 146px 20px #353535,
    896px 655px #353535, 199px 631px #353535, 49px 431px #353535,
    1827px 1935px #353535, 1179px 844px #353535, 142px 1065px #353535,
    130px 1592px #353535, 102px 554px #353535, 804px 1472px #353535,
    531px 1358px #353535, 1111px 1462px #353535, 702px 1321px #353535,
    1200px 456px #353535, 1588px 720px #353535, 1505px 614px #353535,
    834px 694px #353535, 998px 614px #353535, 1017px 1292px #353535,
    1111px 643px #353535, 1534px 340px #353535, 317px 1503px #353535,
    1678px 234px #353535, 1427px 1px #353535, 1072px 191px #353535,
    106px 1035px #353535, 1162px 240px #353535, 1968px 1313px #353535,
    927px 130px #353535, 1217px 146px #353535, 40px 1034px #353535,
    1684px 1623px #353535, 452px 685px #353535, 1463px 1031px #353535,
    1965px 1208px #353535, 1056px 1656px #353535, 1076px 522px #353535,
    363px 1240px #353535, 877px 869px #353535, 748px 1211px #353535,
    1px 1238px #353535, 391px 276px #353535, 1998px 1562px #353535,
    1730px 849px #353535, 481px 1424px #353535, 1776px 867px #353535,
    696px 663px #353535, 1565px 145px #353535, 1991px 679px #353535,
    1855px 68px #353535, 1596px 700px #353535, 1910px 406px #353535,
    731px 1425px #353535, 1905px 202px #353535;
}

#stars3 {
  width: 8px;
  height: 8px;
  background: transparent;
  box-shadow: 1388px 943px #353535, 556px 105px #353535, 951px 454px #353535,
    1249px 739px #353535, 1495px 1659px #353535, 1578px 695px #353535,
    1198px 976px #353535, 770px 580px #353535, 139px 733px #353535,
    303px 1443px #353535, 1469px 741px #353535, 1401px 245px #353535,
    21px 1998px #353535, 523px 1142px #353535, 1748px 1841px #353535,
    1246px 524px #353535, 1706px 588px #353535, 1448px 1230px #353535,
    1336px 1985px #353535, 1036px 1455px #353535, 1649px 559px #353535,
    1577px 1541px #353535, 486px 966px #353535, 1775px 1367px #353535,
    161px 346px #353535, 238px 39px #353535, 1888px 110px #353535,
    1031px 149px #353535, 724px 442px #353535, 1996px 647px #353535,
    1787px 1146px #353535, 477px 206px #353535, 1675px 15px #353535,
    128px 658px #353535, 1396px 1689px #353535, 1025px 192px #353535,
    1276px 326px #353535, 435px 1118px #353535, 376px 1685px #353535,
    1002px 94px #353535, 1410px 1809px #353535, 1134px 1218px #353535,
    393px 249px #353535, 436px 1288px #353535, 151px 628px #353535,
    1462px 1455px #353535, 1156px 297px #353535, 788px 1593px #353535,
    224px 380px #353535, 1384px 748px #353535, 1256px 1276px #353535,
    1502px 1235px #353535, 1215px 1926px #353535, 1573px 476px #353535,
    1702px 1139px #353535, 962px 496px #353535, 1518px 1299px #353535,
    1403px 1670px #353535, 1774px 1003px #353535, 1394px 1960px #353535,
    1137px 1389px #353535, 495px 687px #353535, 763px 1808px #353535,
    392px 944px #353535, 536px 1069px #353535, 1299px 701px #353535,
    1439px 1977px #353535, 1024px 1570px #353535, 1694px 1531px #353535,
    660px 852px #353535, 812px 1064px #353535, 1870px 60px #353535,
    1332px 1125px #353535, 753px 1452px #353535, 1349px 35px #353535,
    274px 620px #353535, 756px 177px #353535, 248px 1318px #353535,
    1589px 1152px #353535, 217px 1881px #353535, 1147px 1136px #353535,
    1569px 1310px #353535, 1677px 1487px #353535, 198px 93px #353535,
    994px 1077px #353535, 528px 1132px #353535, 1734px 1903px #353535,
    1035px 1778px #353535, 1352px 504px #353535, 1180px 1766px #353535,
    1208px 1804px #353535, 488px 111px #353535, 361px 757px #353535,
    1132px 537px #353535, 722px 1248px #353535, 656px 1263px #353535,
    684px 675px #353535, 1622px 1760px #353535, 48px 451px #353535,
    60px 958px #353535;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 8px;
  height: 8px;
  background: transparent;
  box-shadow: 1388px 943px #353535, 556px 105px #353535, 951px 454px #353535,
    1249px 739px #353535, 1495px 1659px #353535, 1578px 695px #353535,
    1198px 976px #353535, 770px 580px #353535, 139px 733px #353535,
    303px 1443px #353535, 1469px 741px #353535, 1401px 245px #353535,
    21px 1998px #353535, 523px 1142px #353535, 1748px 1841px #353535,
    1246px 524px #353535, 1706px 588px #353535, 1448px 1230px #353535,
    1336px 1985px #353535, 1036px 1455px #353535, 1649px 559px #353535,
    1577px 1541px #353535, 486px 966px #353535, 1775px 1367px #353535,
    161px 346px #353535, 238px 39px #353535, 1888px 110px #353535,
    1031px 149px #353535, 724px 442px #353535, 1996px 647px #353535,
    1787px 1146px #353535, 477px 206px #353535, 1675px 15px #353535,
    128px 658px #353535, 1396px 1689px #353535, 1025px 192px #353535,
    1276px 326px #353535, 435px 1118px #353535, 376px 1685px #353535,
    1002px 94px #353535, 1410px 1809px #353535, 1134px 1218px #353535,
    393px 249px #353535, 436px 1288px #353535, 151px 628px #353535,
    1462px 1455px #353535, 1156px 297px #353535, 788px 1593px #353535,
    224px 380px #353535, 1384px 748px #353535, 1256px 1276px #353535,
    1502px 1235px #353535, 1215px 1926px #353535, 1573px 476px #353535,
    1702px 1139px #353535, 962px 496px #353535, 1518px 1299px #353535,
    1403px 1670px #353535, 1774px 1003px #353535, 1394px 1960px #353535,
    1137px 1389px #353535, 495px 687px #353535, 763px 1808px #353535,
    392px 944px #353535, 536px 1069px #353535, 1299px 701px #353535,
    1439px 1977px #353535, 1024px 1570px #353535, 1694px 1531px #353535,
    660px 852px #353535, 812px 1064px #353535, 1870px 60px #353535,
    1332px 1125px #353535, 753px 1452px #353535, 1349px 35px #353535,
    274px 620px #353535, 756px 177px #353535, 248px 1318px #353535,
    1589px 1152px #353535, 217px 1881px #353535, 1147px 1136px #353535,
    1569px 1310px #353535, 1677px 1487px #353535, 198px 93px #353535,
    994px 1077px #353535, 528px 1132px #353535, 1734px 1903px #353535,
    1035px 1778px #353535, 1352px 504px #353535, 1180px 1766px #353535,
    1208px 1804px #353535, 488px 111px #353535, 361px 757px #353535,
    1132px 537px #353535, 722px 1248px #353535, 656px 1263px #353535,
    684px 675px #353535, 1622px 1760px #353535, 48px 451px #353535,
    60px 958px #353535;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
